{% extends 'base.html' %}

{% block title %} Первая помощь при поражениях {% endblock %}

{% block content %}
    {% for first_aid in data %}
        {% include 'first_aid_element.html' with first_aid_card=first_aid %}
        {% empty %}
        <div class="medical-care-none">Мы пытаемся найти решение Вашей проблемы</div>
    {% endfor %}
{% endblock %}

{% block search %}
    <form class="search-form" method="GET" action="{% url 'main' %}">
        {% csrf_token %}
        <input class="search" type="search" name="filter" placeholder="Поиск" value={{ data.value }}>
        <button type="submit">🔍</button>
    </form>
    <form class="reset" method="GET" action="{% url 'main' %}">
        {% csrf_token %}
        <button type="submit" value="TRUE" name="reset">🛠️</button>
    </form>
{% endblock %}