{% extends 'base.html' %}

{% block title %} Фильтр {% endblock %}

{% block content %}
    {% for order in data.orders %}
{#        <li><a href="{% url 'order_url' order.id %}">{{ order.title }}</a></li>#}
        {% include 'order_element.html' with element=order %}
        {% empty %}
        <div class="medical-care-none">Мы пытаемся найти решение Вашей проблемы</div>
    {% endfor %}
{% endblock %}

{% block search %}
    <form method="GET" action="{% url 'filter' %}">
        {% csrf_token %}
        <input class="search" type="search" name="filter" placeholder="Поиск" value={{ data.value }}>
        <button type="submit">🔍</button>
    </form>
{% endblock %}