{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block search %}
    <form method="GET" action="{% url 'main' %}">
        {% csrf_token %}
        <input class="search" type="search" name="filter" placeholder="Поиск">
        <button type="submit">🔍</button>
    </form>
{% endblock %}

{% block content %}
    {% for procedure in data %}
        {% include 'procedure_element.html' with element=procedure %}
        {% empty %}
        <div class="medical-care-none">Мы пытаемся найти решение Вашей проблемы</div>
    {% endfor %}
{% endblock %}

{% block page-scroll %}
    <div class="page-number"></div>
{% endblock %}